<h1></h1>
<nav class="stroke">
    <img src="../../../../../assets/logo.jpg" alt="Simply Easy Learning" class="img" />

    <ul>
        <li><a [routerLink]="['profile']">Profile</a></li>

        <li><a [routerLink]="['createevent']">Créer Un Evenement</a></li>
        <li><a [routerLink]="['listevent']">Mes Evenement</a></li>
        <li><a [routerLink]="['contact']">Contact</a></li>

        <span class="right">
      <li><a>LogOut</a></li>
    </span>
    </ul>
</nav>