<div id="container" class="bg">
    <h2>Your Event</h2>
    <p>SUIVRE LES NOUVEAUTÉS</p>
    <form>
        <input type="email" placeholder="Type your Email" required />
        <br />
        <button><a [routerLink]="['register']">Abonnez-vous maintenant</a></button>
    </form>
</div>