<p class="special2">Choississez votre évenement</p>
<section class="search-sec">
    <div class="container">
        <!--  <form>-->
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" id="exampleFormControlSelect1">
              <option>Category</option>
              <option>Example one</option>
            </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" id="exampleFormControlSelect1">
              <option>Région</option>
              <option>Example one</option>
            </select>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <button type="button" class="btn wrn-btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- </form>-->
    </div>
</section>

<br /><br />