/*search box css start here*/

.search-sec {
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.special {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    margin-bottom: 25px;
    text-align: center;
}

.special2 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}