<br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="https://medias.fashionnetwork.com/image/upload/v1/medias/ab4a10f7679ea2c38819c8c900904f2b2943745.jpg" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                <div class="middle">
                                    <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                    <input type="file" style="display: none" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">
                                    <a href="">Ali Salah</a>
                                </h2>
                                <h6 class="d-block">
                                    <a href="">75</a> nombre des publications
                                </h6>
                                <!-- <h6 class="d-block"><a href="">300</a> Blog Posts</h6>-->
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Informations</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="connectedServices-tab"
                    data-toggle="tab"
                    href="#connectedServices"
                    role="tab"
                    aria-controls="connectedServices"
                    aria-selected="false"
                    >A propos</a
                  >
                </li>
              </ul>
              <div class="tab-content ml-1" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="basicInfo"
                  role="tabpanel"
                  aria-labelledby="basicInfo-tab"
                >
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight: bold">Full Name</label>
                    </div>
                    <div class="col-md-8 col-6">Ali Salah</div>
                  </div>
                  <hr />

                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight: bold">Date de naissance</label>
                    </div>
                    <div class="col-md-8 col-6">22 Avril 1994.</div>
                  </div>
                  <hr />

                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight: bold">Role</label>
                    </div>
                    <div class="col-md-8 col-6">Organisateur</div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight: bold">Age</label>
                    </div>
                    <div class="col-md-8 col-6">35</div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight: bold">Email</label>
                    </div>
                    <div class="col-md-8 col-6">Ali.Salah@gmail.com</div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight: bold">Password</label>
                    </div>
                    <div class="col-md-8 col-6">Ali1234</div>
                  </div>
                  <hr />
                  <button
                    class="d-block"
                    style="font-size: 1.5rem; font-weight: bold"
                  >
                    Modifier
                  </button>
                </div>
                <div
                  class="tab-pane fade"
                  id="connectedServices"
                  role="tabpanel"
                  aria-labelledby="ConnectedServices-tab"
                >
                  Facebook, Google, Twitter Account that are connected to this
                  account
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />