<h1></h1>
<nav class="stroke">
    <img src="../../../../../assets/logo.jpg" alt="Simply Easy Learning" class="img" />

    <ul>
        <li><a [routerLink]="['']">Home</a></li>

        <li><a [routerLink]="['contact']">Contact</a></li>

        <span class="right">
      <li><a [routerLink]="['register']">S'inscrire</a></li>
      <li>
        <a
          (click)="openModal(template)"
        >
          Se connecter
      </a>
      </li>
    </span>
    </ul>
</nav>
<!--Login-->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <!-- <h2>Bienvenue a Your Event</h2>-->
        <div class="imgcontainer">
            <img src="../../../../../assets/logo.jpg" alt="Avatar" class="avatar" />
        </div>
        <form>
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required />

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required />

                <button class="btnlog" type="submit">Login</button>
            </div>
        </form>
    </div>
</ng-template>
<!--*******************inscription*************************-->

<ng-template #templatee>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <!-- <h2>Bienvenue a Your Event</h2>-->

        <form style="border: 1px solid #ccc" #form="ngForm" (submit)="onsubmit(form)">
            <div class="container">
                <h1>S'inscrire</h1>
                <hr />
                <input name="UserID" type="hidden" value="✓" #UserID="ngModel" [(ngModel)]="UserService.formData.UserID" />

                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="taper votre username" name="Username" #Username="ngModel" [(ngModel)]="UserService.formData.Username" required="required" />

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="taper votre  Email" name="Email" #Email="ngModel" [(ngModel)]="UserService.formData.Email" required />

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="taper votre Password" name="Password" #Password="ngModel" [(ngModel)]="UserService.formData.Password" required />

                <label for="role"><b>Role</b></label>
                <select name="Role" id="select" #Role="ngModel" [(ngModel)]="UserService.formData.Role">
          <option value="Membre">Membre</option>
          <option value="Organisateur">Organisateur</option>
        </select>

                <label for="age"><b>Age</b></label>
                <input type="number" id="select" placeholder="taper votre age" name="Age" #Age="ngModel" [(ngModel)]="UserService.formData.Age" required />

                <label for="apropo"><b>Apropos</b></label>
                <input type="text" placeholder="taper votre Apropos" name="Apropos" #Apropos="ngModel" [(ngModel)]="UserService.formData.Apropos" required />

                <div class="clearfix">
                    <button type="submit" [disabled]="form.invalid" class="btnlog">
            s'inscrire
          </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>