<app-header-o></app-header-o>
<!--<app-welcome></app-welcome>
<app-description></app-description>
<app-stat></app-stat>
<br>
<app-contact></app-contact>-->
<router-outlet></router-outlet>

<app-footer1></app-footer1>