<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGJPeNTOONfMQ/profile-displayphoto-shrink_200_200/0?e=1604534400&v=beta&t=grpMViJTbHCqXMhpBzhaT1wiI3jgFPQ9djqqs8fhTZU" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm" />
            <div class="media-body">
                <h4 class="m-0">Khayati ALya</h4>
                <p class="font-weight-light text-muted mb-0">Web developer</p>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
        Menu
    </p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a class="nav-link text-dark font-italic">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i> Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-italic">
                <i class="fa fa-plus mr-3 text-primary fa-fw"></i> Create Organisateur
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i> Create Category
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-italic">
                <i class="fa fa-user mr-3 text-primary fa-fw"></i> liste des Organisateurs
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark font-italic">
                <i class="fa fa-envelope mr-3 text-primary fa-fw"></i> liste des Messages
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark font-italic">
                <i class="fa fa-envelope mr-3 text-primary fa-fw"></i> create Event
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-italic">
                <i class="fa fa-envelope mr-3 text-primary fa-fw"></i> liste Event
            </a>
        </li>
        <br />s
        <br /><br /><br /><br /><br /><br /><br />
        <span class="logout">
      <li class="nav-item">
        <a class="nav-link text-dark font-italic">
          <i class="fa fa-power-off mr-3 text-primary fa-fw"></i> Logout
        </a>
      </li>
    </span>
    </ul>
</div>
<!-- End vertical navbar -->

<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
    <i class="fa fa-bars mr-2"></i
    ><small class="text-uppercase font-weight-bold"></small>
  </button>
    <router-outlet></router-outlet>

    <!--<div class="row text-white">
          <p class="lead font-italic mb-0 text-muted">
              "dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
              in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
      </div>-->

    <!-- End demo content -->
</div>
<script>
    $(function() {
        // Sidebar toggle behavior
        $("#sidebarCollapse").on("click", function() {
            $("#sidebar, #content").toggleClass("active");
        });
    });
</script>