<div id="container3">
    <img src="../../../../../assets/logo.jpg " alt="avatar" height="0170" width="0170" />
    <h3 id="heading2"><span>Hey!</span> Je suis un nouvel Utilisateur</h3>
</div>

<div id="container2">
    <h1 id="heading">Registration</h1>
    <br>
    <form #form="ngForm" (submit)="onsubmit(form)">
        <input id="UserID" name="UserID" type="hidden" value="✓" #UserID="ngModel" [(ngModel)]="user_service.formData.UserID" />

        <input id="username" type="text" class="email" placeholder="Username" maxlength="100" name="Username" #Username="ngModel" [(ngModel)]="user_service.formData.Username" />
        <br/><input type="email" class="email" placeholder="Email" maxlength="100" name="Email" #Email="ngModel" [(ngModel)]="user_service.formData.Email" />
        <br/><input type="text" class="tel" placeholder="Role" maxlength="200" name="Role" #Role="ngModel" [(ngModel)]="user_service.formData.Role" />
        <br/><input type="password" class="tel" placeholder="Password" maxlength="200" name="Password" #Password="ngModel" [(ngModel)]="user_service.formData.Password" />
        <br/><input type="text" class="tel" placeholder="Age" name="Age" #Age="ngModel" [(ngModel)]="user_service.formData.Age" /><br/>

        <br/><input type="text" class="tel" placeholder="A propos" maxlength="250" name="Apropos" #Apropos="ngModel" [(ngModel)]="user_service.formData.Apropos" /><br/>

        <input type="submit" value="S'inscrire" class="submit" />
    </form>
</div>


<br>
<br>