<article class="container container-fluid">
    <section class="create" *ngIf="isCreate">
        <h1>Create Event</h1>
        <form [formGroup]="eventForm" (ngSubmit)="onCreate()">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="_Titre" name="titre" placeholder="Enter your Titre" formControlName="titre" required />
            </div>
            <div class="form-group">
                <label for="StartDate">Start Date</label>
                <input type="date" class="form-control" id="StartDate" name="startDate" placeholder="Enter your StartDate" formControlName="startDate" />
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="EndDate" name="endDate" placeholder="Enter your EndDate" formControlName="endDate" />
            </div>
            <div class="form-group">
                <label for="lieu">Lieu</label>
                <input type="text" class="form-control" id="Lieu" name="lieu" placeholder="Enter your Lieu" formControlName="lieu" />
            </div>
            <div class="form-group">
                <label for="categoryID" class="label-title">Category</label>
                <select class="form-control" id="CategoryID" name="CategoryID" formControlName="CategoryID">
          <option value="0">Select</option>
          <option
            *ngFor="let item of categoriesList"
            value="{{ item.CategoryID }}"
          >
            {{ item.CategoryName }}
          </option>
        </select>
            </div>
            <div class="form-group">
                <label for="organisePar">OrganiséPar</label>
                <input type="text" class="form-control" id="OrganisePar" name="organisePar" placeholder="Enter your OrganisePar" formControlName="organisePar" required />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" id="Description" name="description" rows="3" formControlName="description" required></textarea>
            </div>

            <div class="form-group">
                <label for="Region" class="label-title">Région</label>
                <select class="form-control" id="Region" name="region" formControlName="region">
          <option [value]="region" *ngFor="let region of regions">
            {{ region }}
          </option>
        </select>
            </div>
            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
            <div class="row">
                <div class="offset-md-5 col-md-2">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </section>

    <!-- <pre>
        <code>
            {{eventForm?.value | json}}
        </code>
    </pre>-->
</article>