@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.signup-form {
    font-family: "Roboto", sans-serif;
    width: 900px;
    /*margin: 100px auto;*/
    background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 50px;
}

.form-header {
    background-color: #eff0f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-header h1 {
    font-size: 30px;
    text-align: center;
    color: #666;
    padding: 1 20px 0;
    border-bottom: 1px solid #cccccc;
}


/*---------------------------------------*/


/* Form Body */


/*---------------------------------------*/

.form-body {
    padding: 10px 40px;
    color: #666;
}

.form-group {
    margin-bottom: 20px;
}

.form-body .label-title {
    color: #599fd9;
    font-size: 17px;
    font-weight: bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.horizontal-group .left {
    float: left;
    width: 49%;
}

.horizontal-group .right {
    float: right;
    width: 49%;
}

input[type="file"] {
    outline: none;
    cursor: pointer;
    font-size: 17px;
}

#range-label {
    width: 15%;
    padding: 5px;
    background-color: #599fd9;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    position: relative;
    top: -8px;
}

::-webkit-input-placeholder {
    color: #d9d9d9;
}


/*---------------------------------------*/


/* Form Footer */


/*---------------------------------------*/

.form-footer {
    clear: both;
}


/*---------------------------------------*/


/* Form Footer */


/*---------------------------------------*/

.signup-form .form-footer {
    background-color: #eff0f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 40px;
    text-align: right;
    border-top: 1px solid #cccccc;
}

.form-footer span {
    float: left;
    margin-top: 10px;
    color: #999;
    font-style: italic;
    font-weight: thin;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #599fd9;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #bcf5e7;
    cursor: pointer;
}

.btn:hover {
    background-color: #169c7b;
    color: white;
}