<section class="get-in-touch">
    <h1 class="title">Contact</h1>
    <form #form="ngForm" class="contact-form row" (submit)="onsubmit(form)">
        <input name="MessageID" type="hidden" value="✓" #MessageID="ngModel" [(ngModel)]="message_service.formData.MessageID" />

        <div class="form-field col-lg-6">
            <input id="Username" class="input-text js-input" name="Username" type="text" #Username="ngModel" [(ngModel)]="message_service.formData.Username" lass="form-control" required="required" />
            <label class="label" for="name">Nom d'utilisateur</label>
        </div>
        <div class="form-field col-lg-6">
            <input id="email" class="input-text js-input" type="email" name="Email" #Email="ngModel" [(ngModel)]="message_service.formData.Email" required />
            <label class="label" for="email">E-mail</label>
        </div>
        <div class="form-field col-lg-6">
            <input id="company" class="input-text js-input" type="text" name="Role" #Role="ngModel" [(ngModel)]="message_service.formData.Role" required />
            <label class="label" for="company">Role</label>
        </div>
        <div class="form-field col-lg-6">
            <input id="phone" class="input-text js-input" type="text" name="Sujet" #Sujet="ngModel" [(ngModel)]="message_service.formData.Sujet" required />
            <label class="label" for="phone">Sujet</label>
        </div>
        <div class="form-field col-lg-12">
            <input id="message" class="input-text js-input" type="text" name="Contenu" #Message="ngModel" [(ngModel)]="message_service.formData.Contenu" required />
            <label class="label" for="message">Message</label>
        </div>
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Envoyer" />
        </div>
    </form>
</section>