<router-outlet></router-outlet> <br /><br />
<div class="event">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown animated" data-animation="fadeInDown animated" data-delay=".2s" id="nav-tabContent" style="visibility: visible; animation-name: fadeInDown">
                    <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="nav-home-tab" *ngFor="let event of EventList">
                        <!-- row loop -->
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="event-list-content fix">
                                    <ul data-animation="fadeInUp animated" data-delay=".2s" style="animation-delay: 0.2s" class="">
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i> {{ event.Lieu }}
                                        </li>
                                        <li>
                                            <i class="far fa-clock"></i> {{ event.StartDate }} -- {{ event.EndDate }}
                                        </li>
                                    </ul>
                                    <h2>{{ event.Titre }}</h2>
                                    <p>
                                        {{ event.Description }}
                                    </p>

                                    <a href="#" class="btn mt-20">Read More</a>
                                    <div class="crical">
                                        <i class="far fa-calendar-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <!-- row loop -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />