<header>
    <div class="overlay">
        <h1>Your Event</h1>
        <h3>Une application Extraordinaire</h3>
        <p>
            Your Event est une application qui vous permet de mieux gérer vos Evénements.
        </p>
        <br />
        <button><a [routerLink]="['register']">Abonnez-vous maintenant</a></button>
    </div>
</header>