<h1 class="text-center">Team Design Section with Pure CSS Effect</h1>

<div class="container">
    <div class="row">
        <!--team-1-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">
                    <img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
                    <h3>Agenda</h3>
                    <p>Retrouver tous les détails de l'evenement</p>
                </div>

                <div class="team-back">
                    <span>
                        VISUALISER LE PROGRAMME
                        Retrouver tous les détails du programme de l’évènement,
                         les horaires des différentes interventions, les lieux, ….
          </span>
                </div>
            </div>
        </div>
        <!--team-1-->

        <!--team-2-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">
                    <img src="http://placehold.it/110x110/336699/fff?text=Dilip" class="img-fluid" />
                    <h3>Actualités</h3>
                    <p>Suivre toutes les actualités de l'evenement</p>
                </div>

                <div class="team-back">
                    <span>
                        SUIVRE LES NOUVEAUTÉS
                        Suivre toutes les actualités de l’évènement
          </span>
                </div>
            </div>
        </div>
        <!--team-2-->

        <!--team-3-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">
                    <img src="http://placehold.it/110x110/607d8b/fff?text=Dilip" class="img-fluid" />
                    <h3>Des Offres</h3>
                    <p>DES OFFRES SUR MESURE</p>
                </div>

                <div class="team-back">
                    <span>
                        Recherche des lieux, partenaires et/ou prestations adaptés à vos besoins grâce à notre base 
                        de données et notre grande connaissance du milieu
          </span>
                </div>
            </div>
        </div>
        <!--team-3-->

        <!--team-4-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">
                    <img src="http://placehold.it/110x110/4caf50/fff?text=Dilip" class="img-fluid" />
                    <h3>Dilip Kevat</h3>
                    <p>Web Designer</p>
                </div>

                <div class="team-back">
                    <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, Lorem ipsum dolor sit
            amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Cum sociis natoque.
          </span>
                </div>
            </div>
        </div>
        <!--team-4-->

        <!--team-5-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">
                    <img src="http://placehold.it/110x110/e91e63/fff?text=Dilip" class="img-fluid" />
                    <h3>Dilip Kevat</h3>
                    <p>Web Designer</p>
                </div>

                <div class="team-back">
                    <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, Lorem ipsum dolor sit
            amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Cum sociis natoque.
          </span>
                </div>
            </div>
        </div>
        <!--team-5-->

        <!--team-6-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front">
                    <img src="http://placehold.it/110x110/2196f3/fff?text=Dilip" class="img-fluid" />
                    <h3>Dilip Kevat</h3>
                    <p>Web Designer</p>
                </div>

                <div class="team-back">
                    <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, Lorem ipsum dolor sit
            amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Cum sociis natoque.
          </span>
                </div>
            </div>
        </div>
        <!--team-6-->
    </div>
</div>